{% extends 'AppBundle::layout.html.twig' %}
{% block title %}
    Nakib Mahamoud
{% endblock %}
{% block style %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="center-align">
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_security_login') }}" class="waves-effect waves-light btn-large #b71c1c red darken-4"><i class="material-icons left">cloud</i>Se connecter</a>
        {% endif %}
    </div>
    <div id="presentation" class="col s12"><h1>Ma présentation</h1>
        {#<img src="../assets/images/NB.jpg">#}
        <div>Je m'appelle Nakib M.</div>
        Je suis étudiant en <span>informatique</span>
        <p>Je suis actuellement en deuxième à Ingésup Bordeaux, école supérieure d'ingénierie informatique
            <br> Je compte m'orienter dès la troisième année en réseaux et systèmes <br> </p>

    </div>

    <div id="formations" class="col s12"><h1>Mes formations</h1>
        <ul class="collapsible popout" data-collapsible="accordion">
            {% for Formation in Formations %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ Formation.datedebut }} - {{ Formation.datefin }} {{ Formation.intitule }}</div>
                    <div class="collapsible-body"><span>{{ Formation.description }}</span></div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="competences" class="col s12"><h1>Mes compétences</h1>
        {% for Competence in Competences %}
            <h2>{{ Competence.name }}</h2>
        <div class="progress">
            <div class="determinate" style="width: {{ Competence.percentage }}%"></div>
        </div>
        {% endfor %}
    </div>

    <div id="realisations" class="col s12"><h1>Mes réalisations</h1></div>
{% endblock %}